.container {
  margin: 0 auto;
  max-width: 1200px;
}
div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.div {
  width: 636px;
  height: 151px;
  border-width: 1px;
  background: #F6F6F6;
  box-shadow: 4px 4px 10px 4px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}


h3 {
  font-family: Inria Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;

}
.h3{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p3 {
  font-family: Inria Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: grey;
}


